.link-list{
  margin-top: 3rem;
}

.cnt-img{
  width: 3rem;
  height: 3rem;
}

.mrg{
  margin-top: 1rem;
}
.wrapper{
  text-align: center;
}

.row{
  align-content: center;
}

.color-white{
  color: white;
}