.container{
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 10px;
}
.col{
  text-align: center;
  align-self: baseline;
}

.divider{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #b5b5b5;
}
